@using Cryptography.Bll.Models
@model System.Collections.Generic.List<Cryptography.Bll.Models.FileModel>


<h2>Folder Files:</h2>
<table id="table-content">
    @foreach (FileModel item in Model){
        <tr> 
            <th onclick="GetDetails('@item.Name')">@item.Name</th>
            @*<th > @Html.ActionLink("Decipher","ProcessFileCaesarCipherDecipher","File",new { name = item.Name},new { @class = "linkColonm" })</th>  
                <th > @Html.ActionLink("Encipher","ProcessFileCaesarCipherEncipher","File",new { name = item.Name},new { @class = "linkColonm" })</th>
                <th > @Html.ActionLink("Brute Force","ProcessFileBruteForceCaesarCipherDecipher","File",new { name = item.Name},new { @class = "linkColonm" })</th>*@
        </tr>
    }
</table>
<script>
function GetDetails(name){
    document.location.href = document.location.origin + '/file/details/'+name.toString();
}
</script>

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>